.botonCrear {
    font-size: 1em;
  font-weight: 600;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
}

.estilosFormulario {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    box-sizing: border-box;
    margin: 0 auto; 
  }
  
  .formElement {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .formElement > label > input {
    margin-left: 15px;
}