:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color:#ff8800;
  background-color: #000000;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #ff8800;
}



  h1 {
    font-size: 4vw; /* Ajuste responsivo */
    line-height: 1.1;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 5vw; /* Tamaño más grande para pantallas pequeñas */
    }
  }


button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.45s;
  color: rgb(255, 230, 0);
}
button:hover {
  border-color: #ff7300;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #202020;
}

nav > img {
  height: auto; 
  width: auto; 
  max-width: 100px;
  padding-left: 20px;
}

nav > div {
  display: flex;
  gap: 10px;
  flex-grow: 1; 
  justify-content: flex-end;
  padding-right: 20px;
}


body {
  margin: 0;
}

nav > img {
  height: auto;
  width: auto;
  max-width: 100px; 
  padding-left: 20px;
}

.imagen-bienvenida {
  max-width: 100%; 
  height: auto; 
  align-items: center;
}

@media (max-width: 600px) {
  .imagen-bienvenida {
    max-width: 50%; 
  }
}


