:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color:#ff8800;
  background-color: #000000;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}



  h1 {
    font-size: 2vw; 
    margin-bottom: 40px;
    line-height: 1.1;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 5vw; 
    }
  }


.boton {
  border-radius: 7px;
  border: 2px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.45s;
  color: rgb(255, 230, 0);
  margin-right: 5px;
}
.boton:hover {
  border-color: #ff7300;
}
.boton:focus,
.boton:focus-visible {
  outline: 4px;
  outline-color:rgb(255, 230, 0);
}

.botoneraBarra {
  display: flex;
  align-items: center;
}

#carritoMasChico {
  padding: 0.2em;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #202020;
}

nav > img {
  height: auto; 
  width: auto; 
  max-width: 100px;
  padding-left: 20px;
}

nav > div {
  display: flex;
  gap: 10px;
  flex-grow: 1; 
  justify-content: flex-end;
  padding-right: 20px;
}


body {
  margin: 0;
}

#imagenLogo {
  height: auto;
  width: auto;
  max-width: 100px; 
  padding-left: 20px;
}


